.page-accounts {

  &--card {
    background: var(--card-background);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: calc(var(--gap) * 2);

    &--header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: calc(var(--gap) * 2);

      .accounts-filter {
        margin-left: 24px;
      }
    }



    .accounts-table {

      &--header {
        background: var(--divider-color);
        border-radius: 2px;
        padding: calc(var(--gap) / 2) calc((var(--gap) / 2) * 3);
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: calc((var(--gap) / 2) * 3);

        .with-tooltip {
          display: flex;
          align-items: center;
          grid-column-gap: calc(var(--gap) / 4);
        }

        span {
          color: var(--input-placeholder-search-color);
          font-family: var(--font-roboto);

          &:last-child {
            margin-right: 37px;
          }
        }
      }

      &--body {
        .accounts-table-item {
          padding: var(--gap) calc((var(--gap) / 2) * 3);
          border: 1px solid var(--border-color);
          border-bottom: none;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:last-child {
            border-bottom: 1px solid var(--border-color);
          }

          .item {

            &--address {
              color: var(--input-placeholder-search-color);
              font-size: 14px;
              display: flex;
              grid-column-gap: 10px;
              align-items: center;

              svg {
                opacity: 0.5;

                &:hover {
                  opacity: 1;
                }
              }
            }

            .ui--AccountName {
              font-size: 16px;
              font-weight: 500;
            }
          }

          a {
            cursor: pointer;
            color: var(--link-color);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {

  .page-accounts--card--header {
    grid-template-columns: 5fr 3fr;
  }
}

@media (max-width: 767px) {

  .account-header {
     margin: 16px 24px;
  }

  .page-accounts--card--header {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .accounts-filter {
      margin-left: 0;
      margin-top: 32px;
    }
  }
}
