.btn-container {
    display: flex;
    gap: 16px;
    align-items: center;

    .btn-outlined {
      padding: 8px 24px;
      background-color: var(--white-color);
      color: var(--button-color);
      border: 1px solid var(--button-color);
      border-radius: 4px;
      font-family: var(--font-roboto);
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: var(--button-background-hover);
      }

      &:active {
        border: 1px solid var(--button-background-active);
        color: var(--button-background-active);
      }
    }

    .btn-select {
      display: flex;
      flex-direction: column;

      &.active {
        display: flex;
        flex-direction: column;
        position: relative;
        .drop-list {
          z-index: 1;
          display: flex;
          flex-direction: column;
          font-size: 16px;
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        border-radius: 4px;
        border: 1px solid var(--button-color);
        background-color: var(--button-color);
        color: var(--white-color);
        font-family: var(--font-roboto);
        font-size: 16px;
        cursor: pointer;

        &:hover {
          background-color: var(--button-background-filled-hover);
          border: 1px solid var(--button-background-filled-hover);
        }

        &:active {
          background-color: var(--button-background-active);
          border: 1px solid var(--button-background-active);
        }

        img {
          margin-left: 10.5px;
        }
      }
      .drop-list {
        display: none;
        padding: 10px;
        position: absolute;
        background-color: var(--white-color);
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
        top: 41px;
        left: 0;
        right: 0;

        .option {
          padding: 6px;
          text-align: left;
          cursor: pointer;

          &:hover {
            color: var(--button-color)
          }
        }
      }
    }
}

@media (max-width: 767px) {

  .btn-container {
    flex-direction: column;
    align-items: stretch;
  }
}
