.unique-breadcrumbs {
  display: flex;
  grid-column-gap: calc(var(--gap) / 4);

  &--path {
    color: var(--input-placeholder-search-color);
    font-size: 14px;
    display: flex;
    grid-column-gap: calc(var(--gap) / 4);
    align-items: center;

    a {
      color: var(--input-placeholder-search-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
