.ui.modal.unique-modal {

  .header {
    padding: 1.71rem !important;

    h2{
      margin: 0 !important;
    }

    img {
      position: absolute;
      cursor: pointer;
      right: 28.5px;
      top: 27.5px;
    }
  }

  .content {
    padding: 0 1.71rem !important;

    .warning-block {
      font-size: 18px;
    }
  }

  .field {
    margin-top: 2.28rem;

    label {
      font-family: var(--font-roboto);
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  .actions {
    padding: 2.28rem 1.71rem !important;
    float: right;
  }
}

.transfer-form {
  width: 100%;
}

@media (max-width: 767px) {
  .ui.modal.unique-modal {

    .actions {
      width: 100%;

      button{
        width: 100%;
        margin: 0;
      }
    }
  }
}
