.ui.card {
  box-shadow: none;
  border-radius: 0;

  &.token-card {
    width: auto;
    margin: 10px;
    border: 1px solid var(--card-border-color) !important;
    background: var(--card-background);
    padding: var(--gap);

    .link {
      color: var(--card-link-color);
    }

    &:hover {
      border: 1px solid var(--card-border-color) !important;
      background: var(--card-background);
    }

    .content {
      display: flex;
      flex-direction: column;
      border-top: 0;
      color: var(--card-text-color);
      padding: 0;

      .description {
        color: var(--card-text-color);
        margin-bottom: 0;
        font-family: var(--font-roboto);

        .card-name {
          margin-bottom: 0;

          &__title {
            font-size: 16px;
            font-weight: 500;
          }

          &__field {
            word-wrap: anywhere;
            color: var(--input-placeholder-search-color);
            font-size: 14px;
          }
        }
      }
    }

    & > .image {
      background-color: transparent;
      border-radius: 0;
      height: 160px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: var(--gap);

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
      }
    }
  }

  .description {
    margin-bottom: var(--gap);
  }

  .card-name {
    margin-bottom: var(--gap);

    &__title {
      font: 500 16px/21px var(--font-roboto);
      margin-bottom: calc(var(--gap) / 2);
    }

    &__field {
      font: 400 12px/16px var(--font-inter);
    }
  }
  .card-price {
    margin-bottom: calc(var(--gap) / 2);

    &__title {
      font: 500 14px/16px var(--font-inter);
    }
  }

  .meta {
    justify-content: flex-start;
    margin-top: auto;
  }
}
